*{
    box-sizing: border-box;
}
bo{
    margin: 0;
    padding: 0;
}
.style-div{
    width: 40%;
    height: 150px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}
.style-head{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
